---
import Layout from '../layouts/Layout.astro'
import SocialMedias from '../components/SocialMedias/index.astro'
import { Icon } from 'astro-icon'
import 'swiper/css'
import 'swiper/css/pagination'

const projects: { href: string, imageSrc: string }[] = [
	{
		href: '',
		imageSrc: 'https://portfolio-mauve-delta.vercel.app/images/project10.png',
	},
	{
		href: '',
		imageSrc: '/images/ccn-project.png',
	},
	{
		href: '',
		imageSrc: '/images/oficina-de-influencers-project.png',
	},
	{
		href: '',
		imageSrc: '/images/seguro-carregour-project.png',
	},
	{
		href: '',
		imageSrc: '/images/cheers-project.png',
	},
	{
		href: '',
		imageSrc: 'https://portfolio-mauve-delta.vercel.app/images/project7.png',
	},
	{
		href: '',
		imageSrc: 'https://portfolio-mauve-delta.vercel.app/images/project8.png',
	},
	{
		href: '',
		imageSrc: 'https://portfolio-mauve-delta.vercel.app/images/project2.png',
	},
	{
		href: '',
		imageSrc: 'https://portfolio-mauve-delta.vercel.app/images/project1.png',
	},
	{
		href: '',
		imageSrc: 'https://portfolio-mauve-delta.vercel.app/images/project9.png',
	},
]
const testimonials: { name: string; role: string; profileSrc: string; stars: number; description: string }[] = [
	{
		name: 'Lucas Pereira Torres de Araújo',
		role: 'Software Engineer',
		profileSrc: '/images/lucas-torres.jpeg',
		stars: 5,
		description: 'Caio é uma pessoa fantástica e um ótimo profissional. Mostrou suas competências tanto no front-end quanto no back-end, encarando até projetos de desenvolvimento mobile. Possui conhecimento em várias tecnologias, e se destaca por sua velocidade nas entregas e qualidade de código. Sempre proativo e sem tempo ruim. Foi uma ótima experiência tê-lo na equipe e poder desenvolver vários projetos de software.',
	},
	{
		name: 'Mateus Leonardo',
		role: 'Front Engineer',
		profileSrc: '/images/matheus-arkos.jpeg',
		stars: 4.5,
		description: 'Caio é um ótimo profissional, tem amplos conhecimentos em muitas áreas e tecnologias, sem dúvidas foi um prazer trabalhar com ele, foi ótima nossa troca de conhecimentos e experiências!',
	}
]
---

<Layout title="Welcome to Caio Nobre's portfolio.">
	<header class="bg-primary py-5 text-white lg:hidden">
		<div class="container flex justify-between">
			<h1 class="text-2xl">Logo</h1>
			<button type="button">Menu</button>
		</div>
	</header>
	<main>
		<section class="relative">
		<div class="hidden bg-primary absolute left-0 top-0 w-[3rem] h-full rounded-r-2xl lg:block" />
			<div class="container py-10 lg:flex">
				<div class="basis-full">
					<h1 class="flex flex-col gap-y-5">
						<span class="text-2xl">HI!</span>
						<span class="font-semibold text-3xl">I'm Caio Nobre</span>
						<span class="font-semibold text-3xl">FullStack developer.</span>
					</h1>
					<p class="mt-8 text-xl text-gray-600 tracking-wide">
						FullStack developer based in Fortaleza, Brazil.
					</p>
					<p class="mt-2 text-xl text-gray-600 tracking-wide">
						I am coding with a clean and beautiful problem solving in mind.
					</p>
					<div class="mt-14 lg:flex lg:items-center lg:gap-x-4">
						<span class="hidden text-gray-500 text-lg lg:block">Follow me</span>
						<div class="flex justify-center lg:justify-start">
							<SocialMedias />
						</div>
					</div>
					<div class="flex gap-x-4 mt-8 lg:w-96">
						<button
							type="button"
							class="flex-1 rounded-xl bg-[#FF2950] text-white py-3 outline-none opacity-30"
						>
							Send Request
						</button>
						<a
							type="button"
							class="flex justify-center items-center flex-1 border-2 border-primary rounded-xl outline-none text-gray-600"
							target="_blank"
							href="/Caio+Nobre+CV.pdf"
						>
							Download CV
					</a>
					</div>
				</div>
				<div class="hidden basis-full lg:flex lg:justify-center lg:items-center">
					<div class="relative">
						<div class="w-72 h-72 rounded-full shadow-md">
							<img src="/images/me.jpeg" class="w-full h-full rounded-full" alt="Caio Nobre's profile picture">
							<img src="/images/bullets.svg" class="w-full h-full absolute -top-20 -right-20 -z-10" alt="Orange bullets icon svg">
							<img src="/images/bullets.svg" class="w-full h-full absolute -bottom-20 -left-20 -z-10" alt="Orange bullets icon svg">
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="bg-primary rounded-3xl py-8 mt-10 transition-all duration-500 lg:flex lg:px-4 lg:w-[1100px] lg:mx-auto lg:shadow lg:hover:shadow-xl">
			<div class="basis-full">
				<img src="/images/image1-md.png" class="hidden lg:block" />
			</div>
			<div class="basis-full lg:flex lg:flex-col lg:gap-y-10">
				<header class="flex flex-col items-center gap-y-10 text-white lg:flex-row lg:gap-x-12">
					<h2 class="flex flex-col gap-y-3">
						<span class="text-center text-4xl font-semibold lg:text-left">12+</span>
						<span class="text-xl">Completed Projects</span>
					</h2>
					<div class="flex flex-col gap-y-3">
						<ul class="flex gap-x-1">
							<li>
								<div class="w-8 h-8 text-[#87D147]">
									<Icon name="mdi:star" />
								</div>
							</li>
							<li>
								<div class="w-8 h-8 text-[#87D147]">
									<Icon name="mdi:star" />
								</div>
							</li>
							<li>
								<div class="w-8 h-8 text-[#87D147]">
									<Icon name="mdi:star" />
								</div>
							</li>
							<li>
								<div class="w-8 h-8 text-[#87D147]">
									<Icon name="mdi:star" />
								</div>
							</li>
							<li>
								<div class="w-8 h-8 text-[#87D147]">
									<Icon name="mdi:star" />
								</div>
							</li>
						</ul>
						<span class="block text-center text-xl">Positive Review's</span>
					</div>
				</header>
				<main class="px-6 mt-10 text-white lg:mt-0 lg:px-0">
					<h2 class="mb-5 text-3xl">Glad to help You!</h2>
					<p class="text-lg leading-8">As a web developer, I'm very keen on learning new and pioneering technologies, programming languages, and development techniques.</p>
					<div class="flex justify-center">
						<img src="/images/image1.png" class="lg:hidden" />
					</div>
				</main>
			</div>
		</div>
		<section class="py-14 container">
			<h2 class="text-center text-3xl font-semibold">Why Hire Me?</h2>
			<ul class="flex flex-col gap-y-16 mt-16 lg:flex-row lg:gap-x-14">
				<li class="flex flex-col items-center">
					<div class="bg-gray-200 rounded-full w-28 h-28 flex justify-center items-center shadow-md">
						<img src="/icons/people-chating.svg" alt="Chating icon svg">
					</div>
					<div class="text-center mt-6">
						<h3 class="text-xl font-medium mb-2">Communicative</h3>
						<p class="text-gray-600">
							I am a highly communicative individual. I am a great listener and pay attention to the needs of others.
						</p>
					</div>
				</li>
				<li class="flex flex-col items-center">
					<div class="bg-gray-200 rounded-full w-28 h-28 flex justify-center items-center shadow-md">
						<img src="/icons/man-at-desk.svg" alt="Man at desk working svg">
					</div>
					<div class="text-center mt-6">
						<h3 class="text-xl font-medium mb-2">Professional</h3>
						<p class="text-gray-600">
						 	I possess the necessary knowledge, skills, and qualifications to excel in my field.
						</p>
					</div>
				</li>
				<li class="flex flex-col items-center">
					<div class="bg-gray-200 rounded-full w-28 h-28 flex justify-center items-center shadow-md">
						<img src="/icons/handshake.svg" alt="handshake icon">
					</div>
					<div class="text-center mt-6">
						<h3 class="text-xl font-medium mb-2">Collaborative​</h3>
						<p class="text-gray-600">
							I believe that the best results are achieved when people work together and share their ideas, skills and resources.
						</p>
					</div>
				</li>
				<li class="flex flex-col items-center">
					<div class="bg-gray-200 rounded-full w-28 h-28 flex justify-center items-center shadow-md">
						<img src="/icons/star.svg" alt="yellow star icon">
					</div>
					<div class="text-center mt-6">
						<h3 class="text-xl font-medium mb-2">Quality</h3>
						<p class="text-gray-600">
							Developing software that is reliable, efficient, that has clean code and user-friendly.
						</p>
					</div>
				</li>
			</ul>
		</section>
		<section class="mt-4">
			<div class="container"> 
				<h2 class="text-3xl mb-8 font-semibold">Portfolio</h2>
				<div class="swiper">
					<ul class="swiper-wrapper">
						{projects.map((project) => (
							<li class="swiper-slide transition-all duration-500">
								<img class="w-full h-full object-cover" src={project.imageSrc} alt="Project image" />
							</li>
						))}
					</ul>
				</div>
			</div>
		</section>
		<div class="bg-primary mt-20">
			<div class="container py-6 lg:py-10">
				<h2 class="text-3xl text-white font-semibold leading-10 lg:text-center lg:text-4xl">I'm Loved By Users And Clients</h2>
				<div class="swiper mt-6">
					<ul class="swiper-wrapper">
						{testimonials.map((testimonial) => (
							<li class="swiper-slide">
								<div class="bg-white rounded-3xl p-6 mt-4">
									<header>
										<div class="flex gap-x-4">
											<div class="w-14 h-14 rounde-full">
												<img
													src={testimonial.profileSrc}
													class="w-full h-full rounded-full object-cover"
													alt={`${testimonial.name} Profile picture`}
												/>
											</div>
											<div class="flex flex-col">
												<span class="font-semibold">{testimonial.name}</span>
												<span class="text-gray-500">{testimonial.role}</span>
											</div>
										</div>
										<div class="flex items-center mt-6 gap-x-3">
											<span class="font-semibold">{testimonial.stars.toFixed(1)}</span>
											<ul class="flex gap-x-1">
												<li><img src="/icons/star.svg" class="w-5 h-5" alt="Yellow star icon" /></li>
												<li><img src="/icons/star.svg" class="w-5 h-5" alt="Yellow star icon" /></li>
												<li><img src="/icons/star.svg" class="w-5 h-5" alt="Yellow star icon" /></li>
												<li><img src="/icons/star.svg" class="w-5 h-5" alt="Yellow star icon" /></li>
												<li><img src="/icons/star.svg" class="w-5 h-5" alt="Yellow star icon" /></li>
											</ul>
										</div>
									</header>
									<main class="mt-6">
										<p class="text-gray-600">{testimonial.description}</p>
									</main>
								</div>
							</li>
						))}
					</ul>
				</div>
			</div>
		</div>
	</main>
	<footer class="bg-gray-100 py-10">
		<div class="container">
			<div class="flex items-center justify-center gap-x-2">
				<div class="w-4 h-4 text-gray-500"><Icon name="mdi:email" /></div>
				<span>caionobrex@gmail.com</span>
			</div>
			<div class="mt-6 flex justify-center">
				<SocialMedias />
			</div>
		</div>
	</footer>
</Layout>

<script>
	import Swiper, { Autoplay } from 'swiper'
	new Swiper('.swiper', {
		modules: [Autoplay],
  	loop: true,
		spaceBetween: 20,
		autoplay: {
			disableOnInteraction: false,
		},
		breakpoints: {
			800: {
				slidesPerView: 2,
			}
		}
	})
</script>
